{% extends is_granted('ROLE_NOTARIO') 
    ? 'AppBundle:Default:front.html.twig' 
    : 'AppBundle:Default:admin.html.twig' %}
{% block action_content %}

    <div class="panel panel-default">
        <div class="panel-heading">Cambiar Contraseña</div>
        <div class="panel-body">
            {# pass a string argument to get only the messages of that type #}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    <p><strong>{{ message }}</strong></p>
                </div>
            {% endfor %}

            {# pass an array argument to get the messages of those types  #}
            {% for label, messages in app.flashes(['warning', 'error']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        <p><strong> {{ message }} </strong></p>
                    </div>
                {% endfor %}
            {% endfor %}    
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-default" value="Cambiar">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}